body {
    background-color: rgb(255, 255, 255); /* Fixed the background color syntax */
    margin: 0; /* Ensure no default margin */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 15vw;
    height: 100%;
    padding: 20px;
    gap: 20px;
    color: rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.main-section {
    width: calc(90%); /* Takes up the remaining width of the viewport */
    box-sizing: border-box; /* Ensures padding is included in the element’s width and height */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: auto;
    margin-right: auto;
}

#box {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 60, 255);
    color: rgb(255, 255, 255);
}

.about {
    display: flex;
    color: rgb(2, 0, 124);
    flex-direction: row;
    justify-content: space-evenly; /* Center items horizontally if they are not taking full width */
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-text {
    padding-left: 100px;
    padding-right: 100px;
}

#profile-image img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}

.qualifications-tools {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.project-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#project-image {
    display: flexbox;
    flex-direction: column;
    padding: 30px;
    }

/* 
.project-1 {

}
.project-2 {

}
.project-3 {

}
.project-4 {

}
.project-5 {

}
.project-6 {

} */

.project-name {

}

.project-box {

}

.project-img {

}

.project-desciption {

}

.tools {

}
